

.conteiner-main{
    display: flex;
    background-color: #fff;
   justify-content: center;
    
}
.conteiner-left{
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
}
.conteiner-list{
    margin-top: 1em;
}
.downloard-app{
    margin-top: 20px;
    padding: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
Conteiner Central     
*/
.conteiner-center{
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.conteiner-header-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.conteiner-post{
    display: flex;
   background-color:#89E6F4;
   border-radius: 5%;
    width: 250px;
    padding: 1em;
    flex-direction: column;
}
.conteiner-right{
    display: flex;
    flex-direction: column;
    
}
.suggestions{
    display: flex;
    flex-direction: column;
}
.recommendations{
    display: flex;
    flex-direction: column;
}