

.conteiner-main{
    display: flex;
    background-color: #fff;
    margin: 2em;
    
}
.conteiner-left{
    display: flex;
    flex-direction: column;
    margin: 2em 2em;
}
.conteiner-list{
    margin-top: 1em;
}
.downloard-app{
    margin-top: 2em;
    padding: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}